
@media all {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  @media (min-width: 544px) {
    .container {
      max-width: 576px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 940px;
    }
  }
  @media (min-width: 1440px) {
    .container {
      max-width: 1140px;
    }
  }
}

@media all {
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

@media all {
  header, nav {
    display: block;
  }

  [hidden] {
    display: none;
  }

  a {
    background-color: transparent;
    text-decoration: none;
  }

  a:active, a:hover {
    outline: 0;
  }

  img {
    border: 0;
  }

  button {
    color: inherit;
    font: inherit;
    margin: 0;
  }

  button {
    overflow: visible;
  }

  button {
    text-transform: none;
  }

  button {
    -webkit-appearance: button;
    cursor: pointer;
  }

  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }

  @media (min-width: 544px) {
    .container {
      max-width: 576px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 940px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  img {
    height: auto;
    max-width: 100%;
    vertical-align: top;
  }

  ul {
    margin: 0 0 1.5em 0;
    padding-left: 0;
  }

  ul:last-child {
    margin-bottom: 0;
  }

  li > ul {
    margin-bottom: 0;
    margin-left: 1.1em;
  }

  button {
    line-height: 1;
    display: inline-block;
    max-width: 100%;
    padding: 23px 37.5px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid;
    box-shadow: none;
    transition: .3s;
    text-transform: uppercase;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    border-radius: 3px;
  }

  .btn {
    text-decoration: none;
    line-height: 1;
    display: inline-block;
    max-width: 100%;
    padding: 23px 37.5px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid;
    box-shadow: none;
    transition: .3s;
    text-transform: uppercase;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    border-radius: 3px;
  }

  .btn:hover {
    text-decoration: none;
  }

  .btn:active {
    outline: 0;
    box-shadow: 0 0 10px;
  }

  .btn.btn-default {
    background-color: transparent;
  }

  button:focus {
    outline: 0;
  }

  ::-moz-placeholder {
    opacity: 1;
  }

  :-moz-placeholder {
    opacity: 1;
  }

  a {
    text-decoration: none;
    transition: .3s;
  }

  a:hover, a:active {
    text-decoration: none;
  }

  .main-navigation {
    display: block;
    width: 100%;
  }

  @media (min-width: 768px) {
    .main-navigation {
      width: auto;
    }
  }
  .main-navigation ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  .main-navigation .menu {
    display: none;
  }

  .main-navigation li {
    position: relative;
    text-align: left;
  }

  .main-navigation a {
    position: relative;
    display: block;
    text-decoration: none;
  }

  @media (max-width: 767px) {
    .main-navigation ul ul a {
      padding-left: 2rem;
    }
  }
  @media (min-width: 768px) {
    .main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) li:hover > ul {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }

    .main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li[hidden] {
      display: none;
    }

    .main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li:hover > ul {
      left: -40px;
    }

    .main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) > li > ul {
      top: 100%;
    }

    .main-navigation:not(.vertical-menu) .menu:not(.tm-mega-menu) .sub-menu {
      position: absolute;
      z-index: 999;
      left: -999em;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
      transform: translateY(30px);
      transition-duration: 200ms;
      transition-timing-function: linear;
      transition-property: opacity, visibility, -webkit-transform;
      transition-property: transform, opacity, visibility;
      transition-property: transform, opacity, visibility, -webkit-transform;
    }

    .main-navigation:not(.vertical-menu) .menu {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      position: static;
    }

    .main-navigation:not(.vertical-menu) .menu > li {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }

    .main-navigation:not(.vertical-menu) .menu .sub-menu {
      margin: 0;
      box-shadow: 0 2px 12px rgba(136, 136, 136, 0.26);
    }

    .main-navigation:not(.vertical-menu) .menu > li[hidden] {
      display: none;
    }

    .main-navigation:not(.vertical-menu) .menu > li > .sub-menu {
      margin-top: 20px;
    }

    .main-navigation:not(.vertical-menu) .menu > li > .sub-menu:before {
      content: '';
      position: absolute;
      height: 20px;
      width: 100%;
      bottom: 100%;
      left: 0;
    }
  }
  .main-navigation a {
    padding: 8px 22px;
    font-size: 17px;
    font-size: 1.0625rem;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-weight: 600;
  }

  @media (min-width: 768px) {
    .main-navigation .menu {
      margin-left: -18px;
      margin-right: -18px;
    }

    .main-navigation .menu > * {
      margin-left: 18px;
      margin-right: 18px;
    }
  }
  @media (min-width: 768px) {
    .main-navigation .menu > li > a {
      font-size: 12px;
      font-size: 0.75rem;
      padding: 5px 0;
    }
  }
  @media (max-width: 767px) {
    .main-navigation .menu > li.menu-item-has-children:not(.super-guacamole__menu-with-icon) a {
      padding-right: 65px;
    }
  }
  @media (min-width: 768px) {
    .main-navigation .menu > li.menu-item-has-children:not(.super-guacamole__menu-with-icon) > a {
      padding-right: 15px;
    }

    .main-navigation .menu > li.menu-item-has-children:not(.super-guacamole__menu-with-icon) > a::after {
      content: '\e93a';
      right: 0;
      top: 11px;
    }
  }
  @media (min-width: 768px) {
    .main-navigation .sub-menu {
      padding: 26px 0;
    }
  }
  @media (min-width: 768px) {
    .main-navigation .sub-menu > li > a {
      width: 220px;
      padding: 4px 30px 4px 35px;
    }
  }
  @media (min-width: 768px) {
    .main-navigation .sub-menu a {
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 300;
      letter-spacing: normal;
      text-transform: capitalize;
    }
  }
  .main-navigation a::after {
    cursor: pointer;
    position: absolute;
    font-family: 'Linearicon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    font-size: 0.625rem;
  }

  .sub-menu-toggle {
    display: none;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 995;
    border: 0;
    padding: 15px 22px;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .sub-menu-toggle:before {
    content: '\e93a';
    font-family: 'Linearicon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    font-size: 1.125rem;
  }

  .menu-toggle {
    padding: 10px 10px;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background: none;
    border: 0;
    margin: 0;
    overflow: visible;
  }

  .menu-toggle:hover {
    opacity: 1;
  }

  .menu-toggle .menu-toggle-inner {
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .menu-toggle .menu-toggle-inner::before {
    transition: top 0.1s 0.14s ease, opacity 0.1s ease;
  }

  .menu-toggle .menu-toggle-inner::after {
    transition: bottom 0.1s 0.14s ease, -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  .menu-toggle-box {
    width: 22px;
    height: 16px;
    display: block;
    position: relative;
  }

  .menu-toggle-inner {
    display: block;
    top: 50%;
    margin-top: -1px;
  }

  .menu-toggle-inner, .menu-toggle-inner::before, .menu-toggle-inner::after {
    width: 22px;
    height: 2px;
    background-color: #000;
    border-radius: 0px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  .menu-toggle-inner::before, .menu-toggle-inner::after {
    content: "";
    display: block;
  }

  .menu-toggle-inner::before {
    top: -7px;
  }

  .menu-toggle-inner::after {
    bottom: -7px;
  }

  .site-header:before, .site-header:after {
    content: "";
    display: table;
    table-layout: fixed;
  }

  .site-header:after {
    clear: both;
  }

  .site-header {
    width: 100%;
  }

  .site-header {
    margin-top: 60px;
  }

  @media (min-width: 768px) {
    .site-header {
      margin-top: 0;
      position: relative;
    }
  }
  .header-container {
    padding: 35px 0;
    position: relative;
  }

  @media (min-width: 768px) {
    .header-container {
      padding: 20px 0;
    }
  }
  .site-header.default .header-container:after {
    content: '';
    border-bottom: 1px solid #ECECEE;
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
  }

  .header-container .header-btn {
    padding-left: 36px;
    padding-right: 36px;
    font-weight: 700;
    font-size: 13px;
    border: none;
    transition: background 1s ease-out;
  }

  .header-container__flex {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media (min-width: 768px) {
    .header-container__flex {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding-left:15px;
      padding-right:15px;
    }
  }
  @media (min-width: 992px) {
    .site-header.default .header-container__flex {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
  }
  .site-header.default .header-container:after {
    display: none;
  }

  .site-header.default .header-container.header-btn-visibility {
    padding: 26px 0 41px;
  }

  .site-header.default .site-branding, .site-header.default .header-btn {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  @media (min-width: 768px) {
    .site-header.default .site-branding, .site-header.default .main-navigation {
      margin-bottom: 10px;
    }
  }
  .site-header.default .site-branding {
    margin-top: 0;
  }

  .site-header.default .main-navigation {
    margin-top: 28px;
  }

  @media (min-width: 768px) {
    .site-header.default .site-branding {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
    }
  }
  @media (min-width: 768px) {
    .site-header.default .main-navigation {
      -webkit-order: 7;
      -ms-flex-order: 7;
      order: 7;
      width: 100%;
    }
  }
  @media (min-width: 992px) {
    .site-header.default .main-navigation {
      -webkit-order: 3;
      -ms-flex-order: 3;
      order: 3;
    }

    .site-header.default .main-navigation .menu {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
  }
  .site-header.default .header-btn {
    margin-top: 22px;
  }

  @media (min-width: 768px) {
    .site-header.default .header-btn {
      margin-bottom: 10px;
      -webkit-order: 5;
      -ms-flex-order: 5;
      order: 5;
    }
  }
  .site-logo {
    margin: 0;
    line-height: 1;
  }

  .site-logo__link {
    text-decoration: none;
    line-height: 1;
  }

  .mobile-panel {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    visibility: visible;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    border-bottom: 1px solid #ECECEE;
    padding: 10px 20px 10px 10px;
    height: 60px;
    box-shadow: 0 2px 6px rgba(136, 136, 136, 0.26);
  }

  .mobile-panel__right {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  @media (min-width: 768px) {
    .mobile-panel {
      display: none;
      visibility: hidden;
      left: -999em;
      height: 0;
    }
  }
  /*! end @import */
  img.site-link__img {
    width: 200px;
    height: auto;
  }

  #main-menu li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 900;
  }

  .site-header.default .header-container.header-btn-visibility {
    padding: 0;
  }

  .header-btn {
    background-image: inherit;
    background: #00a3ee !important;
  }

  .header-btn:hover {
    background: #FFFFFF !important;
    color: #00a3ee !important;
  }

  #main-menu {
    float: right;
    margin-right: 60px;
  }

  .header-btn {
    margin-bottom: 10px;
  }

  * {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
  }
}

/*! CSS Used from: Embedded */
a {
  color: #3ad88f;
}

a:hover {
  color: #34465a;
}

@media (max-width: 1300px) {
  #main-menu {
    margin-right: 0;
  }
}

@media (max-width: 769px) {
  #main-menu {
    margin-right: 100px;
  }
}

@media (min-width: 1200px) {
  .site .container {
    max-width: 1404px;
  }
}

.header-container {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
}

.site-logo {
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  font-family: Poppins, sans-serif;
}

.site-logo__link, .site-logo__link:hover {
  color: #2ed3ae;
}

.site-header.default .header-btn {
  color: #ffffff;
  background: #13c1d9;
  background: -moz-linear-gradient(180deg, #13c1d9 0%, #2ed3ae 100%);
  background: -webkit-linear-gradient(180deg, #13c1d9 0%, #2ed3ae 100%);
  background: -ms-linear-gradient(180deg, #13c1d9 0%, #2ed3ae 100%);
  background: linear-gradient(180deg, #13c1d9 0%, #2ed3ae 100%);
}

.site-header.default .header-btn:hover {
  background: #2ed3ae;
  background: -moz-linear-gradient(180deg, #2ed3ae 0%, #2ed3ae 100%);
  background: -webkit-linear-gradient(180deg, #2ed3ae 0%, #2ed3ae 100%);
  background: -ms-linear-gradient(180deg, #2ed3ae 0%, #2ed3ae 100%);
  background: linear-gradient(180deg, #2ed3ae 0%, #2ed3ae 100%);
}

::-webkit-input-placeholder {
  color: #888888;
}

::-moz-placeholder {
  color: #888888;
}

:-moz-placeholder {
  color: #888888;
}

:-ms-input-placeholder {
  color: #888888;
}

.main-navigation .menu > li > a {
  color: #34465a;
}

.main-navigation .menu > li > a:hover, .main-navigation .menu > li.current_page_item > a, .main-navigation .menu > li.current-menu-item > a {
  color: #13c1d9;
}

.main-navigation:not(.vertical-menu) .sub-menu {
  background-color: rgb(251, 251, 251);
}

.main-navigation ul ul a {
  color: #2ed3ae;
}

.main-navigation .sub-menu > li > a:hover {
  color: #13c1d9;
}

.menu-toggle[aria-controls="main-menu"], .main-navigation .menu li .sub-menu-toggle {
  color: #2ed3ae;
}

.menu-toggle .menu-toggle-inner, .menu-toggle .menu-toggle-inner:before, .menu-toggle .menu-toggle-inner:after {
  background-color: #2ed3ae;
}

.menu-toggle:hover .menu-toggle-inner, .menu-toggle:hover .menu-toggle-inner:before, .menu-toggle:hover .menu-toggle-inner:after {
  background-color: #13c1d9;
}

.btn, button {
  font-style: normal;
  font-weight: 300;
  font-family: Poppins, sans-serif;
}

.btn, .btn:hover {
  color: #ffffff;
}

.btn {
  background-color: #13c1d9;
  border-color: #13c1d9;
}

.btn:hover {
  background-color: #2ed3ae;
  border-color: #2ed3ae;
}

.btn:active {
  box-shadow: 0 0 10px #2ed3ae;
}

.btn-default:hover {
  color: #ffffff;
  background-color: #13c1d9;
  border-color: #13c1d9;
}

.btn-default:active {
  box-shadow: 0 0 10px #13c1d9;
}

.btn-default {
  color: #13c1d9;
  border-color: #13c1d9;
}

#site-navigation.show {
  background: #FFFFFF;
  margin-top: 28px;
  transition: transform .2s linear, -webkit-transform .2s linear;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 997;
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  display: block;
}

#site-navigation.show #main-menu{
  display: block;
}

.header-container_wrap{
  max-width: 1354px!important;
}